<mat-toolbar color = "primary" class="header-toolbar">
    <div class="logo" style="flex-grow: 1;margin-top: 10px">
        <button  mat-raised-button color="primary"> TRAKSS </button>
        
        <!-- <mat-form-field style="padding: 10px;">
          <mat-label>Location</mat-label>
          <mat-select>
            <mat-option *ngFor="let city of States" [value]="city">{{city}}</mat-option>
          </mat-select>
        </mat-form-field> -->
  
    </div>
    <div style="align-items: center;flex-grow: 3;margin-top: 10px">
       <mat-form-field style="width: auto;">
        <input matInput placeholder="Search" (keyup.enter)="getCatalouge(find)" [(ngModel)]="find" >
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field> 
      

    </div>
    <div>
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
            
          
          
          <h1>myAccount</h1>
          </button>


          <mat-menu #menu="matMenu" [overlapTrigger]="false">
              <span (mouseleave)="menuTrigger.closeMenu()">
                <button mat-menu-item>
                  <mat-icon>home</mat-icon>
                  <span>Profile</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>people_outline</mat-icon>
                  <span (click)="goToProfile()">EditProfile</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>videocam</mat-icon>
                  <span>Cart</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Logout</span>
                </button>
              </span>
              </mat-menu>

    </div>
    
  </mat-toolbar>